

.container-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;
    min-height: 100vh;

    /* background-color: pink; */
}

.main-head{
    margin: 0 auto;
    padding: 1rem;

    /* background-color: purple; */
}

.user{
    font-family: var(--font-oswald);
    font-size: 2.5rem; /* 20 % */
    /* color: var(--slate-900); */
    color: var(--cyan-100);
    text-align: center;
}

.user-info{
    font-family: var(--font-raleway);
    font-size: 2rem;
    text-align: center;
    color: var(--cyan-100);
}

.content-head{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.8rem 0;

    /* background-color: #f59e0b; */
}

.bitmoji-img{
    width: 25%;
    max-height: 40vh;
    display: flex;
    justify-content: center;

    /* background-color: gray; */
}

.bit-img{
    width: 30%;
    height: 100%;
    transition: 0.5s ease;
}

.bit-img:hover{
    transform: scale(1.4);
}

.content-body{
    text-align: right;
    padding: 2rem;
    position: relative;
    

    /* background-color:var(--snap-yellow); */
    color: var(--sky-100);
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    transition: background-color 0.8s ease-in-out,
                color 0.4s ease-in-out;
}

.content-body:hover{
    background-color:var(--snap-yellow);
    color: var(--slate-800);
}


.text-intro {
    font-size: 1.75rem;
    /* color: var(--slate-800); */
    font-weight: 500;
    font-family: var(--font-oswald);
}

.text-right {
    font-size: 1.15rem;
    /* color: var(--slate-800); */
    padding: 1.5rem 2rem;
    position: absolute;
    right: 0px;
    font-family: var(--font-satisfy);
    font-weight: 500;

    /* background-color: purple; */
}

.content-body img{
    position: relative;
    width: 25%;
    height: 50%;
}

.container-section{
    box-sizing: border-box;
    color: var(--cyan-100);
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
} 

.container-box-1{
    /* background-color: mediumseagreen; */
    width: 50%;
    margin: 0.4rem;
    margin-right: 50%;
}

.container-box-2{
    /* background-color: green; */
    width: 50%;
    margin: 0.4rem;
    margin-left: 50%;
}

.container-box-3{
    /* background-color: greenyellow; */
    width: 50%;
    margin: 0.4rem;
    margin-right: 50%;
}

.container-box-header{
    text-align: center;
    font-size: 2rem;
    padding: 0.6rem 0.3rem;
    font-family: var(--font-oswald);
}

.container-box-img{
    width: 30%;
    height: 30%;
    margin: auto;
    padding: 0.4rem 0;
}

.project-img, .blog-img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.project-img:hover, .blog-img:hover{
    transform: translateY(-10px);
}

.container-box-text{
    text-align: center;
    font-size: 1rem;
    margin: 0.4rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
}


.skill-container-box{
    /* background-color: cornflowerblue; */
    position: relative;
    justify-content: center;
}

.skill-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    margin: 0.6rem;
    padding: 0.6rem;
}

.skill-logo{
    margin: 0.3rem;
    width: 80%;
    height: 80%;
    cursor: pointer;
    transition: 0.5s ease;
}

.skill-logo:hover{
    transform: scale(1.4);
}

.list-non-bullet{
    list-style: none;
}

.heading-highlight{
    color: var(--snap-yellow);
}

.link-project, .link-blog{
    justify-content: center;
    text-align: center;
    width: 18%;
    margin: 2%;
    background-color: var(--slate-900);
    color: var(--sky-100);
    padding: 0.5%;
    border: 2px solid var(--snap-yellow);
    border-radius: 20%;
    text-decoration: none;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: var(--font-raleway);
}

.link-project a, .link-blog a{
    text-decoration: none;
    color: var(--sky-100);
}

.link-project:hover, .link-blog:hover{
    transform: scale(1.4);
    box-shadow: 2px 2px 4px var(--slate-700);
}


@media screen and (min-width: 200px) and (max-width:767px) {
    .content-head{
        flex-direction: column;
        justify-content: center
    }

    .bitmoji-img{
        margin: auto;
        min-height: 20vh;
    }

    .bit-img{
        width: 100%;
        height: 100%;
    }

    .text-right{
        margin: 2rem;
    }
}


@media screen and (min-width:768px) and (max-width:992px)  {

}





















